<!DOCTYPE html>
<html>	
<head>
<title>InfraLift - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Hooks Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />

<!--scripts-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/js/jquery.min.js"></script>
<!--//scripts-->


<!--stylesheets-->
<link href="/css/ForgotPassword.css" rel='stylesheet' type='text/css' />
<!--//stylesheets-->



<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->


</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		 	window.location.href="/";
		}); 
});

</script>



 <!--SIGN UP-->
<div class="login-form">
	<div class="close"> </div>
		<img src="images/InfraLiftLogo.png"/>
		<h1>User Login</h1>
			<form method="POST" action="/afterForgot">
				<input type="text" class="email" placeholder="Email Address" name="inputUsername" required/>
					<div class="but-bottom">
							<div class="clear"> </div>									
					</div>
							<input type="submit" value="Get Password">
			</form>
						<p class="login-bottom">Not a member?<a href="/signup" class="sign">Sign up now!</a></p>
</div>
</body>
</html>