<!DOCTYPE html>
<html>	
<head>
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/skin.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/customlogin.css" />
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
	<link rel="stylesheet" href="css/comments_style.css">
	<link href="css/login_style.css" rel='stylesheet' type='text/css' />
	<!--webfonts-->
	<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<!--//webfonts-->
	<script type="text/javascript" src="javascript/jquery.js"></script>	
	<script type="text/javascript" src="javascript/jquery.loopedslider.js"></script>	
	<script type="text/javascript" src="javascript/cufon-yui.js"></script>
	<script type="text/javascript" src="javascript/font.font.js"></script>
	<script type="text/javascript">Cufon.replace('.cufon, .nav, .slogan', {hover:true});</script>	
	<!--[if IE 6]><script src="javascript/pngfix.js"></script><script>DD_belatedPNG.fix('.logo img, .nav a, .section');</script><![endif]--> 	
	
	<title>InfraLift</title>
	
	
	
<%if (typeof msgId != 'undefined'){%>
 	<%if (msgId == '1'){%>
  			<script>
  			$( document ).ready(function() {
    			$("#forgot").removeClass("hidden");
			});
			</script>
 	<%}%>
 	<%if (msgId == '2'){%>
 			<script>
  			$( document ).ready(function() {
    			$("#signedup").removeClass("hidden");
			});
			</script>
 	<%}%>
 	<%if (msgId == '3'){%>
 			<script>
  			$( document ).ready(function() {
    			$("#invalid").removeClass("hidden");
			});
			</script>
 	<%}%>
<%}%>

<script>

$(document).ready(function(c) {
	$('.close').click(function(c){
		 	window.location.href="/";
		}); 
});

</script>
	
</head>

<body>

<div class="bg">

<div class="main">

	<!-- HEADER -->
	<div class="header box custom" style="z-index:0; height:250px !important;">

		<br><br>
			<a href="/"><img src="design/TransparentLogo2.png" style="width:300px;height:180px; " alt="" /></a>
		
	</div> <!-- /slogan -->

	<!-- SECTION -->
	<div class="section box" style="margin-top:0px; box-shadow: 2px 5px 5px #888888;">

		
		<!-- CONTENT -->
		<div class="content box" >
		   <h2 style="margin-top:75px;"></h2>
			
			<!-- HEADINGS -->
			
			<div class="login-form">
				<div class="close"> </div>
				<h1>User Login</h1>
				<form method="POST" action="/afterSignIn">
					<div id="invalid" class="message hidden">Invalid User Id/Password</div>
					<div id="forgot" class="message hidden">Please check your email for new password to sign in.</div>
					<div id="signedup" class="message hidden">Account Created. Please use your credentials to sign in.</div>
					<input type="text" class="email" placeholder="User ID" name="inputUsername" required/>
					<input type="password" class="password" placeholder="Password" name="inputPassword" required/>
					<div class="but-bottom">
						<div class="p-container">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i>Remember Me</label>
						</div>
						<a href="/forgotEmail" class="trouble"><p>Forgot your password?</p></a>
						<div class="clear"> </div>									
					</div>
					<input type="submit" value="Sign in">
				</form>
				<p class="login-bottom">Not a member?<a href="/signup" class="sign">Sign up now!</a></p>
			</div>
			
	   
		</div> <!-- /content -->

	</div> <!-- /section -->		

	<!-- FOOTER -->
	<div class="footer box">

		<p class="f-right t-right">
			InfraLift Inc.<br />
			<a href="#">www.InfraLift.com</a><br />
			<a href="#">InfraLift@gmail.com</a><br />
			Address: San Jose<br />
			Phone: (###) ###-####
		</p>
	
		<p class="f-left">
			Copyright &copy;&nbsp;2015 <a href="/">InfraLift Inc</a><br />
		</p>

	</div> <!-- /footer -->

</div> <!-- /main -->

</div> <!-- /bg -->

<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>
